.akt {
	display: block;
	position: relative;
	float: center;
	width: 100%;
}
.akttekst {
	text-align: center;
	font-size: 35px;
}
.aktbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.aktfieldset {
	position: relative;
	top: 15px;
	border-radius: 25px;
	background-color: rgb(0, 51, 204, 0.2)
}
.fsizeakt {
	position: relative;
	top: 10px;
	font-size: 18px;
}
.czasakt {
	color: #b30000;
	font-weight: bald;
}


/* 1440 down */
@media (max-width: 1440px) {

}

/* tablety średnie kompy */
@media (min-width: 992px) and (max-width: 1300px) {

}

/* Mój telefon */
/* tablety małe kompy */
@media (max-width: 991px) {	
.fsizeakt {
	font-size: 18px;
}
.aktfieldset {
	background-color: rgb(0, 51, 204, 0.2)
}
.czasakt {
	color: #b30000;
}
}

/* tablety i telefony */
@media  (max-width: 775px) {
.fsizeakt {
	font-size: 16px;
}
}

/* mniejsze */
@media (max-width: 550px) {
.fsizeakt {
	font-size: 14px;
}
}