.lewy {
	width: 75%;
}
.kurs {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 205px;
	border-radius: 15px;
	color: white;
	background-color: rgb(0, 0, 0, 0.7);
	background-image: url("../PICTURES/KURSY/plik.png");
	text-shadow: black 0.1em 0.1em 0.2em;
	transform: rotateZ(0deg);
	transition: all .7s linear;
	border: 1px solid white;
}
.kurs:hover {
	width: 200px;
	height: 205px;
	border-radius: 35px;
	color: #006bb3;
	background-color: rgb(0, 0, 0, 0.5);
	transform: rotateZ(15deg);
	border: 2px solid black;
}
.kursbrakprem {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 205px;
	border-radius: 15px;
	background-color: rgb(0, 0, 0);
	text-shadow: black 0.1em 0.1em 0.2em;
	display: inline-block;
	margin-bottom: 45px;
	margin-right: 45px;
}
.kursbrakpremtekst {
	position: relative;
	top: 40px;
	font-size: 0.7em;
}
.kursyt {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	border-radius: 15px;
	color: white;
	background-image: url("../PICTURES/KURSY/youtube.png");
	text-shadow: black 0.1em 0.1em 0.2em;
	transform: rotateZ(0deg);
	transition: all .7s linear;
	border: 1px solid black;
}
.kursyt:hover {
	border-radius: 35px;
	transform: rotateZ(15deg);
	border: 1px solid white;
	color: #006bb3;
}
.kursa {
	display: inline-block;
	text-decoration: none;	
	margin-bottom: 45px;
	margin-right: 45px;
}
.rodzajkursu {
	margin-bottom: 45px;
}

/* 1470 down */
@media (max-width: 1470px) {

}

/* tablety średnie kompy */
@media (min-width: 992px) and (max-width: 1300px) {

}

/* Mój telefon */
/* tablety małe kompy */
@media (max-width: 991px) {	

}

/* tablety i telefony */
@media  (max-width: 775px) {

}

/* mniejsze */
@media (max-width: 550px) {

}