.registrationbox {
	position: relative;
	top: 80px;
	width: 35%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	z-index: 200;
	border-radius: 15px;
	text-align: center;
	font-size: 25px;
	background-color: rgb(140, 140, 140, 0.8);
}
.registrationform {
	position: relative;
	top: 40px;
}
.boxtext {
	position: relative;
	top: -13px;
	float: right;
	right: 100px;
	width: 200px;
	background-color: #a6a6a6;
	border-color: black;
	border-radius: 5px;
	text-align: center;
	outline: none;
}
.boxtext:focus {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
input[type=checkbox] {
	position: relative;
	top: -13px;
	float: right;
	right: 100px;
	width: 200px;
	background-color: #a6a6a6;
	border-color: black;
	border-radius: 5px;
	text-align: center;
	outline: none;
}
.zarejestruj {
	position: relative;
	top : -5px;
	width: 300px;
	height: 45px;
	background-color: white;
	border-color: black;
	border-radius: 5px;
	font-size: 20px;
	transition: all 0.3s linear
}
.zarejestruj:hover {
	color: white;
	background-color: grey;
	transform: scale(0.95);
}
.error {
	position: relative;
	top: 50px;
	color: red;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.tekstlewo {
	position: relative;
	left: 100px;
	float: left;
	top: -15px;
}
.br {
	display: none;
}
#recaptchapolozenie {
	position: relative;
	width: 300px;
	height: 75px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

/* 1600 down */
@media (max-width: 1600px) {
.registrationbox {
	font-size: 22px;
	width: 35%;
}
.boxtext {
	right: 0;
}
.tekstlewo {
	left: 0;
}
.br {
	display: none;
}
}

/* 1440 down */
@media (max-width: 1440px) {
.registrationbox {
	font-size: 22px;
	width: 45%;
}
.boxtext {
	right: 0;
}
.tekstlewo {
	left: 0;
}
.br {
	display: none;
}
}

/* tablety średnie kompy */
@media (min-width: 992px) and (max-width: 1300px) {
.registrationbox {
	font-size: 22px;
	width: 45%;
}
.boxtext {
	right: 0;
}
.tekstlewo {
	left: 0;
}
.br {
	display: none;
}
}

/* Mój telefon */
/* tablety małe kompy */
@media (max-width: 991px) {	
.registrationbox {
	font-size: 22px;
	width: 55%;
}
.boxtext {
	right: 0;
}
.tekstlewo {
	left: 0;
}
.br {
	display: none;
}
}

/* tablety i telefony */
@media  (max-width: 775px) {
.registrationbox {
	font-size: 18px;
	width: 50%;
	top: 75px;
	height: 570px;
}
.boxtext {
	display: block;
	text-align: center;
	float: left;
	width: 100%;
	top: -15px;
}
.tekstlewo {
	width: 100%;
	text-align: center;
}
.br {
	display: block;
}
}

/* mniejsze */
@media (max-width: 550px) {
.registrationbox {
	font-size: 16px;
	width: 50%;
}
.boxtext {
	right: 0;
	float: center;
}
.tekstlewo {
	left: 0;
}
.br {
	display: block;
}
.zarejestruj {
	top : 15px;
}
.error {
	top: 70px;
}
}